body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;  
    background-image: url(../img/zhongli.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position: center;
    background-position: top;
}

a {
    text-decoration: none;
}

header {
    background: rgb(209,204,33);
    background: linear-gradient(90deg, rgba(209,204,33,1) 4%, rgba(240,231,51,1) 31%, rgba(244,198,37,1) 66%, rgba(249,236,102,1) 100%);
    padding: 10px;
    color: white;
}

.btn-abrir {
    color:azure;
    font-size: 25px;
}

nav {
    height: 100%;
    width: 0px;
    background: rgb(87,75,88);
    background: radial-gradient(circle, rgba(87,75,88,1) 3%, rgba(40,38,45,1) 99%);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

nav a {
    color: white;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover {
    color:darkslategrey;
    background-color: azure;
}

nav ul {
    display: block;
}

nav li {
    display: block;
}

h1 {
    color:azure;
}

p {
    color:azure;
}

main {
    padding: 0px;
    transition: margin-left 0.5s;
}


















